<?php
/**
 * PbxApi
 * PHP version 5
 *
 * @category Class
 * @package  Introvert
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * INTROVERT API
 *
 * No descripton provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 0.1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Introvert\Api;

use \Introvert\ApiClient;
use \Introvert\ApiException;
use \Introvert\Configuration;
use \Introvert\ObjectSerializer;

/**
 * PbxApi Class Doc Comment
 *
 * @category Class
 * @package  Introvert
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PbxApi
{
    /**
     * API Client
     *
     * @var \Introvert\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Introvert\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Introvert\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://test.api.yadrocrm.ru/tmp');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Introvert\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Introvert\ApiClient $apiClient set the API client
     *
     * @return PbxApi
     */
    public function setApiClient(\Introvert\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation call
     *
     * Совершает звонок
     *
     * @param string $from Кто, первый вызываемый номер (номер абонента или внешний номер) (required)
     * @param string $to Кому, второй вызываемый номер (любой) (required)
     * @param string $to_num Телефонный номер который увидит первый вызываемый номер (optional)
     * @param string $to_name Имя пользователя которое увидит первый вызываемый номер (optional)
     * @throws \Introvert\ApiException on non-2xx response
     * @return object | array
     */
    public function call($from, $to, $to_num = null, $to_name = null)
    {
        list($response) = $this->callWithHttpInfo($from, $to, $to_num, $to_name);
        return $response;
    }

    /**
     * Operation callWithHttpInfo
     *
     * Совершает звонок
     *
     * @param string $from Кто, первый вызываемый номер (номер абонента или внешний номер) (required)
     * @param string $to Кому, второй вызываемый номер (любой) (required)
     * @param string $to_num Телефонный номер который увидит первый вызываемый номер (optional)
     * @param string $to_name Имя пользователя которое увидит первый вызываемый номер (optional)
     * @throws \Introvert\ApiException on non-2xx response
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function callWithHttpInfo($from, $to, $to_num = null, $to_name = null)
    {
        // verify the required parameter 'from' is set
        if ($from === null) {
            throw new \InvalidArgumentException('Missing the required parameter $from when calling call');
        }
        // verify the required parameter 'to' is set
        if ($to === null) {
            throw new \InvalidArgumentException('Missing the required parameter $to when calling call');
        }
        // parse inputs
        $resourcePath = "/pbx/call";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($from !== null) {
            $queryParams['from'] = $this->apiClient->getSerializer()->toQueryValue($from);
        }

        // query params
        if ($to !== null) {
            $queryParams['to'] = $this->apiClient->getSerializer()->toQueryValue($to);
        }

        // query params
        if ($to_num !== null) {
            $queryParams['to_num'] = $this->apiClient->getSerializer()->toQueryValue($to_num);
        }

        // query params
        if ($to_name !== null) {
            $queryParams['to_name'] = $this->apiClient->getSerializer()->toQueryValue($to_name);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('key');
        if (strlen($apiKey) !== 0) {
            $queryParams['key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'object',
                '/pbx/call'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'object', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation history
     *
     * История звонков
     *
     * @param int $date_from (timestamp) начальная дата (required)
     * @param int $date_to (timestamp) конечная дата (required)
     * @param string $type тип звонка inbound/outbound (optional)
     * @throws \Introvert\ApiException on non-2xx response
     * @return object | array
     */
    public function history($date_from, $date_to, $type = null)
    {
        list($response) = $this->historyWithHttpInfo($date_from, $date_to, $type);
        return $response;
    }

    /**
     * Operation historyWithHttpInfo
     *
     * История звонков
     *
     * @param int $date_from (timestamp) начальная дата (required)
     * @param int $date_to (timestamp) конечная дата (required)
     * @param string $type тип звонка inbound/outbound (optional)
     * @throws \Introvert\ApiException on non-2xx response
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function historyWithHttpInfo($date_from, $date_to, $type = null)
    {
        // verify the required parameter 'date_from' is set
        if ($date_from === null) {
            throw new \InvalidArgumentException('Missing the required parameter $date_from when calling history');
        }
        // verify the required parameter 'date_to' is set
        if ($date_to === null) {
            throw new \InvalidArgumentException('Missing the required parameter $date_to when calling history');
        }
        // parse inputs
        $resourcePath = "/pbx/history";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($date_from !== null) {
            $queryParams['date_from'] = $this->apiClient->getSerializer()->toQueryValue($date_from);
        }

        // query params
        if ($date_to !== null) {
            $queryParams['date_to'] = $this->apiClient->getSerializer()->toQueryValue($date_to);
        }

        // query params
        if ($type !== null) {
            $queryParams['type'] = $this->apiClient->getSerializer()->toQueryValue($type);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('key');
        if (strlen($apiKey) !== 0) {
            $queryParams['key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'object',
                '/pbx/history'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'object', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation records
     *
     * Архив записей звонков
     *
     * @param int $date_from (timestamp) начальная дата (required)
     * @param int $date_to (timestamp) конечная дата (required)
     * @param string $type тип звонка inbound/outbound (optional)
     * @throws \Introvert\ApiException on non-2xx response
     * @return object | array
     */
    public function records($date_from, $date_to, $type = null)
    {
        list($response) = $this->recordsWithHttpInfo($date_from, $date_to, $type);
        return $response;
    }

    /**
     * Operation recordsWithHttpInfo
     *
     * Архив записей звонков
     *
     * @param int $date_from (timestamp) начальная дата (required)
     * @param int $date_to (timestamp) конечная дата (required)
     * @param string $type тип звонка inbound/outbound (optional)
     * @throws \Introvert\ApiException on non-2xx response
     * @return array of object, HTTP status code, HTTP response headers (array of strings)
     */
    public function recordsWithHttpInfo($date_from, $date_to, $type = null)
    {
        // verify the required parameter 'date_from' is set
        if ($date_from === null) {
            throw new \InvalidArgumentException('Missing the required parameter $date_from when calling records');
        }
        // verify the required parameter 'date_to' is set
        if ($date_to === null) {
            throw new \InvalidArgumentException('Missing the required parameter $date_to when calling records');
        }
        // parse inputs
        $resourcePath = "/pbx/record";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($date_from !== null) {
            $queryParams['date_from'] = $this->apiClient->getSerializer()->toQueryValue($date_from);
        }

        // query params
        if ($date_to !== null) {
            $queryParams['date_to'] = $this->apiClient->getSerializer()->toQueryValue($date_to);
        }

        // query params
        if ($type !== null) {
            $queryParams['type'] = $this->apiClient->getSerializer()->toQueryValue($type);
        }

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires API key authentication
        $apiKey = $this->apiClient->getApiKeyWithPrefix('key');
        if (strlen($apiKey) !== 0) {
            $queryParams['key'] = $apiKey;
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'object',
                '/pbx/record'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, 'object', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'object', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
